
@charset "utf-8";
* { box-sizing: border-box; padding: 0; margin: 0; }
a { text-decoration: none; color: #4d4d4d; }

html, body { height: 100%; }
header { background-color: black; }
footer { background-color: #4d4d4d; }

table, td, th { border: 1px solid #4f4f4f; border-collapse: collapse; }
td, th { padding: 7px; }
ul { list-style: none; }

.circular--img { display: inline-block; overflow: hidden; border-radius: 50%; border: 1px solid #ecf0f1; }
.circular--img img { width: 100%; height: 100%; object-fit: cover; }


.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }
.flex-center { justify-content: center; align-items: center; }
.flex-container { display: flex; height: 100%; width: 100%; }
.flex-direction-column { flex-direction: column; }

.font-color-white { color: #fff; }

.grid { display: grid; }

.h-50 { height: 50px; }
.h-100 { height: 100px; }
.h-all { height: 100%; }
.hidden { display: none; }

.menu-selected { font-weight: bold; }
.menu-selected a { color: yellow; }

.m-r-5 { margin-right: 5px; }
.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }

.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }
.p-ud-5 { padding: 5px 0; }
.p-ud-10 { padding: 10px 0; }
.p-ud-30 { padding: 30px 0; }
.p-ud5-lr10 { padding: 5px 10px; }
.pointer { cursor: pointer; }

.submenu-selected { background-color: #4d4d4d; }
.submenu-selected a { color: #fff; }

.wh-30 { width: 30px; height: 30px; }
.wh-40 { width: 40px; height: 40px; }
.wh-200 { width: 200px; height: 200px; }
.wh-300 { width: 300px; height: 300px; }

#container { min-height: 100%; display: grid; grid-template-rows: 50px 1fr 30px; }